.App {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  overflow: scroll;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .App {
    overflow: hidden;
  }
}

.lower-bar {
  background-color: #bf0000;
  width: 100vw;
  height: 19px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  /* opacity: 0; */
  /* animation: 1.2s ease-in 1.2s forwards fadein; */
}

@keyframes fadein {
  0 { opacity: 0; }
  100% { opacity: 1 }
}
